/******************** Web Fonts ***********************/

@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);
@import url(http://fonts.googleapis.com/css?family=Kameron);

/*************************** Fixes ****************************/

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

/**************************** Universal ****************************/

body {
	padding: 0;
	margin: 0;
}

a {
	font-family: 'PT Sans Narrow', sans-serif;
	text-decoration: none;
	color: rgb(67, 134, 163);
}

a:hover {
	color: #BDC3C7;
	text-decoration: none;
}

ul, li {
	list-style: none;
	font-size: 1.23em;
}

ul, ol {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5 {
	font-family: 'Kameron', serif;
	color: rgb(81, 40, 26);
}

p {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 1.2em;
	color: black;
}

/**************************** Containers ****************************/

.container1 {
	width: 80%;
	margin: 0 auto;
	padding: 50px 0 100px 0;
}

.container1_intro {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
	padding: 40px 0;
}

.container2 {
	width: 95%;
	/*margin: 0 auto;*/
	padding-top: 50px;
	padding-bottom: 100px 0 0 0;
}

/**************************** Top Navigation ****************************/
.nav {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 50px;
	z-index: 9999;
}

/*#topnav {
	display: -webkit-flex;
	display: flex;
	-webkit-flow-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}*/

#topnav {
	display: inline-block;
	float: right;
	background: rgba(225, 221, 218, .5);
	width: 30%;
}

#topnav li {
	margin: 0 1%;
	float: left;
}

#topnav li a { 
  color: rgb(75, 44, 39);
  padding: 20px 8px;
  font-size: 1.2em;
  font-family: 'PT Sans Narrow', sans-serif;
  line-height: 50px;
  text-decoration: none;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#topnav li a:hover { 
  color: rgb(200, 187, 151);
  background: rgba(255,255,255,0.65);
}

#topnav li.current a { 
  background: rgb(255, 255, 255);
  color: rgb(245, 216, 130);
  border-bottom: 4px solid rgb(81, 40, 26);
} 

/**************************** Intro ****************************/

#intro {
	/*background: rgb(244, 234, 215);*/
	background: rgb(225, 221, 218);
	margin: 0;	
	border-bottom: 1px solid rgb(52, 73, 94);
}

.introtext h1 {
	font-size: 5em;
	padding-bottom: 10px;
}

.introtext p {
	font-size: 2em;
	line-height: 30px;
}

.introtext, .intropic {
	width: 500px;
	margin: 50px 0;
}

.intropic {
	width: 400px;
}

/**************************** About ****************************/

#about {
	background-color: rgb(255,255,255);
	border-bottom: 1px solid rgb(52, 73, 94);	
}

.about_flex_contain {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.about_col1, .about_col2, .about_col3 {
	width: 250px;
}

.about_col1 h1, .about_col2 h1, .about_col3 h1 {
	text-align: center;	
}

#about li, ol {
	list-style: disc;
	font-family: 'PT Sans Narrow', sans-serif;
	color: black;
}

/*************************** Section Titles ***************************/

.section_title {
	width:100%;
	height: 60px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: center;
	position: relative;
	top: -50px;
}

.section_title h1 {
	font-size: 50px;
	text-transform: uppercase;
}

.aboutme {
	width:400px;
	/*background-color: rgb(244, 234, 215);*/
	background: rgb(225, 221, 218);
	text-align: center;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	height: 50px;
	padding: 15px;
}

.mywork {
	width:400px;
	background-color: rgb(255,255,255);
	text-align: center;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	height: 50px;
	padding: 15px;
}

.contactme {
	width:400px;
	/*background-color: rgb(244, 234, 215);*/
	background: rgb(225, 221, 218);
	text-align: center;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	height: 50px;
	padding: 15px;
}

/**************************** Work Nav ****************************/

#work {
	background-color: rgb(225, 221, 218);
	border-bottom: 1px solid rgb(52, 73, 94);		
}

/*************************** Work ***************************/

.work_container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.work_col1 {
	width: 40%;
	padding: 10px;
	border-radius: 10px;
	margin: 50px 10px 50px 40px;
}

.work_col1 li {
	float: left;
	background-color: black;
	padding: 5px;
	margin: 5px;
	color: #BDC3C7;
	border-radius: 10px;
	font-size: 1em;
}

.work_col2 {
	width: 60%;
	margin: 50px 0px;
}

#nested {
	font-size: 1em;
}

#nested li {
	margin-left: 10px;
	list-style-type: circle;
}

.graphics img {
	border: 8px solid #BDC3C7;
}

/**************************** Contact ****************************/

#contact {
	background-color: rgb(255,255,255);
}

/**************************** Social Media ****************************/

.social_container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: center;
}


.social a {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 25px;
	vertical-align: middle;
}

.social h2, .social h3 {
	text-align: center;
}

.social a.github {background: url(../images/social/githubblack.png) left top no-repeat;}
.social a.googleplus {
	background: url(../images/social/google_plusblack.png) center no-repeat;
}
.social a.linkedin {background: url(../images/social/linkedinblack.png) left top no-repeat;}
.social a.pinterest {background: url(../images/social/pinterestblack.png) left top no-repeat;}


/******************* Slider ********************/
.image_small img {
  height: 175px;
  width: 300px;
  margin-bottom: 10px;
}

.textbox_left {
  width: 300px;
  float: left;
  margin: 10px;
}

.textbox_mid {
  width: 300px;
  float: left;
  margin: 10px;
}

.textbox_right {
  width: 300px;
  float: right;
  margin: 10px;
}