/******************** Web Fonts ***********************/

@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);
@import url(http://fonts.googleapis.com/css?family=Kameron);

/*************************** Fixes ****************************/

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

/**************************** Universal ****************************/

body {
	padding: 0;
	margin: 0;
}

a {
	font-family: 'PT Sans Narrow', sans-serif;
	text-decoration: none;
	color: rgb(67, 134, 163);
}

a:hover {
	color: #BDC3C7;
	text-decoration: none;
}

ul, li {
	list-style: none;
	font-size: 1.23em;
}

ul, ol {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5 {
	font-family: 'Kameron', serif;
	color: black;
}

p {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 1.2em;
	color: black;
}

/**************************** Containers ****************************/

.container1 {
	width: 80%;
	margin: 0 auto;
	padding: 50px 0 100px 0;
}

.container1_intro {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
	padding: 100px 0;
}

.container2 {
	width: 80%;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 100px;
}

/**************************** Top Navigation ****************************/
.nav {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 70px;
	background: rgba(67, 134, 163, 0.75);
	z-index: 9999;
}

#topnav {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: center;
}

#topnav li {
	margin: 0 2%;
}

#topnav li a { 
  color: #BDC3C7;
  padding: 25px 11px;
  font-size: 1.2em;
  font-family: 'PT Sans Narrow', sans-serif;
  line-height: 70px;
  text-decoration: none;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#topnav li a:hover { 
  color: #95A5A6;
  background: rgba(255,255,255,0.65);
}

#topnav li.current a { 
  background: rgba(255,255,255,0.7);
  color: white;
  border-bottom: 4px solid #ECF0F1;
} 

/**************************** Intro ****************************/

#intro {
	background-color: #ECF0F1;
	margin: 0;	
	border-bottom: 1px solid rgb(52, 73, 94);
}

.introtext, .intropic {
	width: 400px;
	margin: 50px 0;
}

.intropic {
	width: 400px;
}

/**************************** About ****************************/

#about {
	background-color: rgb(255,255,255);
	border-bottom: 1px solid rgb(52, 73, 94);	
}

.about_flex_contain {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.about_col1, .about_col2, .about_col3 {
	width: 250px;
}

.about_col1 h1, .about_col2 h1, .about_col3 h1 {
	text-align: center;	
}

#about li, ol {
	list-style: disc;
	font-family: 'PT Sans Narrow', sans-serif;
	color: black;
}

/*************************** Section Titles ***************************/

.section_title {
	width:100%;
	height: 60px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: center;
	position: relative;
	top: -50px;
}

.section_title h1 {
	font-size: 50px;
	text-transform: uppercase;
}

.aboutme {
	width:400px;
	background-color: #ECF0F1;
	text-align: center;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	height: 50px;
	padding: 15px;
}

.mywork {
	width:400px;
	background-color: rgb(255,255,255);
	text-align: center;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	height: 50px;
	padding: 15px;
}

.contactme {
	width:400px;
	background-color: #ECF0F1;
	text-align: center;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	height: 50px;
	padding: 15px;
}

/**************************** Work Nav ****************************/

#work {
	background-color: #ECF0F1;
	border-bottom: 1px solid rgb(52, 73, 94);		
}

#work_nav {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: center;
}

#work_nav li {
	margin: 0 5px;
	padding: 10px;
	background-color: rgb(255,255,255);
}

#work_nav li a {
	color:black;
	font-size: 18px;
	padding: 10px;
}

#work_nav li.highlight {
	background-color: black;
}

#work_nav a:hover {
	color: gray;
}

/*************************** Work ***************************/

.work_container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.work_col1 {
	background-color: white;
	min-height: 400px;
	width: 30%;
	padding: 10px;
	border-radius: 10px;
	margin: 50px 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #BDC3C7;
	-webkit-box-shadow: 0px 0px 10px 0px #BDC3C7;
	-moz-box-shadow: 0px 0px 10px 0px #BDC3C7;
}

.work_col2 {
	width: 60%;
	margin: 50px 0px;
}

.tutorials {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: center;
}

.tutorial_list {
	width: 30%;
	margin: 0 10px;
}

.tutorial_list li {
	list-style: disc;
}

.tutorial_list h3 {
	line-height: .5em;
}

.tutorial_list li a {
	font-size: .8em;
}

#nested {
	font-size: 1em;
}

#nested li {
	margin-left: 10px;
	list-style-type: circle;
}

/**************************** Contact ****************************/

#contact {
	background-color: rgb(255,255,255);
}

/**************************** Social Media ****************************/

.social_container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: center;
}


.social a {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 25px;
	vertical-align: middle;
	-o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

.social h2, .social h3 {
	text-align: center;
}

.social a.twitter {background: url(../images/social/twitter.png) left top no-repeat;}
.social a.facebook {background: url(../images/social/facebook.png) left top no-repeat;}
.social a.github {background: url(../images/social/github.png) left top no-repeat;}
.social a.googleplus {
	background: url(../images/social/googleplus.png) left top no-repeat;
	margin-left: 30px;
}
.social a.linkedin {background: url(../images/social/linkedin.png) left top no-repeat;}
.social a.pinterest {background: url(../images/social/pinterest.png) left top no-repeat;}

.social a:hover {
	background-position: left -34px;
}